
.bluemarker{
	width: 16px;
	height: 32px;

	background-image: url(../../static/images/icons/icon-marker-blue.svg);
	background-size: cover;

	cursor: pointer;
}
.redmarker{
	width: 16px;
	height: 32px;

	background-image: url(../../static/images/icons/icon-marker-red.svg);
	background-size: cover;

	cursor: pointer;
}

.bluemarker:hover, .redmarker:hover{
	filter: brightness(125%);
	transition: 0.1s ease;
}
.small{
	width: 12px;
	height: 24px;
}
.markerinfo{
	display: none;
}
.markerinfo.active{
	display: block;
}
