/* TopNavigation styles */
.TopNavigation{
	.nav{
		a.nav-link{
			color: inherit;
			padding: 10px;
		}
		a.nav-link:hover{
			color: #B11622;
			background: #f8f8f8;
			transition: all 0.1s ease;
		}
	}
	.TopNavigation-Hover{
		padding: 10px 15px;
		cursor: pointer;
		&:hover{
			background: #f8f8f8;
		}
		&:hover p{
			color: #B11622;
		}
	}

}
/* ------------------------ */

/* MainNavigation styles */
.MainNavigation{
	padding: 15px 0px;
	margin-bottom: 20px;

	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;

	a{
		&:hover{
			color: #20366C;
		}
	}

	.hover-icon-text:hover .profile{
		background-image: url(../static/images/icons/hovered/icon-profile.svg);
		transition: 0.1s ease;
	}

	.hover-icon-text:hover .cart{
		background-image: url(../static/images/icons/hovered/icon-cart.svg);
		transition: 0.1s ease;
	}
}
/* ------------------------ */
