@media screen and (min-width: 993px) and (max-width: 1100px){
    .MainNavigation .form-control{
        width: 250px;
    }
    .Slider{
        background: url(../../static/images/slider-background-desktop.jpg);
        background-position: 60%;
    }
	.max-width-300{
		max-width: 240px;
	}
}
