/* NewsBlock styles */
.NewsBlock img{
	margin-bottom: 15px;
	width: 100%;
}
.NewsBlock p{
	font-size: 20px;
	line-height: 24px;

	font-weight: 600;
}
.NewsBlock > .col-lg-3 > .row > .col{
	margin: 0px 10px;
}

/* ------------------------ */
