/* Slider styles */
.Slider{
	border-bottom: 1px solid #962932;
	.container{
		padding-left: 30px;
		padding-right: 30px;
	}
}
.SliderBackground{
	background: url(../../static/images/slider-image.png);
	padding: 120px 0px;
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;

}
.SliderHeading{
	font-size: 36px;
	line-height: 48px;

	text-transform: uppercase;
}
.Slider hr{
	background: #707070;
	width: 100%;
	margin: 10px 0px;
}
p.SliderText{
	font-size: 16px;
	line-height: 24px;

	margin-bottom: 20px;
	width: 100%;
}
/* ------------------------ */
